<?xml version="1.0"?>
<CodeSnippets xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <CodeSnippet Format="1.0.0">
    <Header>
      <Title>在数组上隐式联接</Title>
      <Author>Microsoft Corporation</Author>
      <Description>创建一个将数组中的项与元素进行匹配的查询。</Description>
      <Shortcut>qJoinImpArray</Shortcut>
    </Header>
    <Snippet>
      <Declarations>
        <Literal>
          <ID>queryResult</ID>
          <Type>item</Type>
          <ToolTip>替换为查询的标识符。</ToolTip>
          <Default>query</Default>
        </Literal>
        <Literal>
          <ID>item</ID>
          <Type>item</Type>
          <ToolTip>替换为表示数据源项的变量的标识符。</ToolTip>
          <Default>fruit</Default>
        </Literal>
        <Literal>
          <ID>dataSource</ID>
          <Type>String</Type>
          <ToolTip>替换为数据源的标识符。</ToolTip>
          <Default>New String() {"apple", "orange", "pear", "banana", "strawberry", "blueberry"}</Default>
        </Literal>       
        <Literal>
          <ID>field1</ID>
          <Type>String</Type>
          <ToolTip>替换为确定 Join 条件的字段名称。</ToolTip>
          <Default>Length</Default>
        </Literal>       
        
        <Literal>
          <ID>field2</ID>
          <Type>String</Type>
          <ToolTip>替换为选择的字段名称。</ToolTip>
          <Default>ToUpper()</Default>
        </Literal> 
        <Literal>
          <ID>length</ID>
          <Type>String</Type>
          <ToolTip>替换为数组的范围变量。</ToolTip>
          <Default>length</Default>
        </Literal>
      </Declarations>
      <Code Language="VB" Kind="method body"><![CDATA[Dim $queryResult$ = From $item$ In $dataSource$, _
                                   $length$ In New Integer() {4, 5} _
                                   Where $item$.$field1$ = $length$ _
                   Select $item$.$field1$, $item$.$field2$]]></Code>
    </Snippet>
  </CodeSnippet>
</CodeSnippets>
