<?xml version="1.0" encoding="UTF-8"?>
<CodeSnippets xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <CodeSnippet Format="1.0.0">
    <Header>
      <Title>For...Next 语句</Title>
      <Author>Microsoft Corporation</Author>
      <Description>遍历一个数字序列。</Description>
      <Shortcut>For</Shortcut>
    </Header>
    <Snippet>
      <Imports>
      </Imports>
      <Declarations>
        <Literal>
          <ID>LowerBound</ID>
          <Type>Integer</Type>
          <ToolTip>替换为整数值。</ToolTip>
          <Default>1</Default>
        </Literal>
        <Literal>
          <ID>UpperBound</ID>
          <Type>Integer</Type>
          <ToolTip>替换为整数值。</ToolTip>
          <Default>10</Default>
        </Literal>
        <Literal>
          <ID>Variable</ID>
          <Type>Object</Type>
          <ToolTip>替换为计数器的变量名。</ToolTip>
          <Default>index</Default>
        </Literal>
      </Declarations>
      <Code Language="VB" Kind="method body"><![CDATA[For $Variable$ = $LowerBound$ To $UpperBound$

Next]]></Code>
    </Snippet>
  </CodeSnippet>
</CodeSnippets>
