<?xml version="1.0" encoding="UTF-8"?>
<CodeSnippets xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <CodeSnippet Format="1.0.0">
    <Header>
      <Title>If..End If 语句</Title>
      <Author>Microsoft Corporation</Author>
      <Description>插入 If..End If 语句。</Description>
      <Shortcut>If</Shortcut>
    </Header>
    <Snippet>
      <Imports>
      </Imports>
      <Declarations>
        <Literal>
          <ID>Condition</ID>
          <Type>Boolean</Type>
          <ToolTip>替换为计算结果是 True 或 False 的表达式。</ToolTip>
          <Default>True</Default>
        </Literal>
      </Declarations>
      <Code Language="VB" Kind="method body"><![CDATA[If $Condition$ Then

End If]]></Code>
    </Snippet>
  </CodeSnippet>
</CodeSnippets>
