<?xml version="1.0" encoding="UTF-8"?>
<CodeSnippets xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <CodeSnippet Format="1.0.0">
    <Header>
      <Title>播放声音 </Title>
      <Author>Microsoft Corporation</Author>
      <Description>从文件播放声音。</Description>
      <Keywords>
      </Keywords>
      <Shortcut>sndPlay</Shortcut>
    </Header>
    <Snippet>
      <Declarations>
        <Literal>
          <ID>filename</ID>
          <Type/>
          <ToolTip>替换为声音文件的名称。</ToolTip>
          <Default>"ringout.wav"</Default>
        </Literal>
      </Declarations>
      <Code Language="VB" Kind="method body"><![CDATA[My.Computer.Audio.Play($filename$,  AudioPlayMode.WaitToComplete)]]></Code>
    </Snippet>
  </CodeSnippet>
</CodeSnippets>
