<?xml version="1.0" encoding="UTF-8"?>
<CodeSnippets xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <CodeSnippet Format="1.0.0">
    <Header>
      <Title>停止在后台播放声音 </Title>
      <Author>Microsoft Corporation</Author>
      <Description>停止在后台播放声音。</Description>
      <Shortcut>sndStop</Shortcut>
    </Header>
    <Snippet>
      <Imports>
        <Import>
          <Namespace>System</Namespace>
        </Import>
        <Import>
          <Namespace>Microsoft.VisualBasic</Namespace>
        </Import>
      </Imports>
      <Code Language="VB" Kind="method body"><![CDATA[My.Computer.Audio.Stop()]]></Code>
    </Snippet>
  </CodeSnippet>
</CodeSnippets>
