<?xml version="1.0"?>
<CodeSnippets xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <CodeSnippet Format="1.0.0">
    <Header>
      <Title>Sort - Ascending</Title>
      <Author>Microsoft Corporation</Author>
      <Description>创建根据指定字段按升序对结果排序的查询。</Description>
      <Shortcut>qSortAsc</Shortcut>
    </Header>
    <Snippet>
      <Declarations>
        <Literal>
          <ID>queryResult</ID>
          <Type>item</Type>
          <ToolTip>替换为查询的标识符。</ToolTip>
          <Default>query</Default>
        </Literal>
        <Literal>
          <ID>item</ID>
          <Type>item</Type>
          <ToolTip>替换为表示数据源项的变量的标识符。</ToolTip>
          <Default>fruit</Default>
        </Literal>
        <Literal>
          <ID>dataSource</ID>
          <Type>String</Type>
          <ToolTip>替换为数据源的标识符。</ToolTip>
          <Default>New String() {"apple", "orange", "pear", "banana", "strawberry", "blueberry"}</Default>
        </Literal>
        <Literal>
          <ID>field1</ID>
          <Type>String</Type>
          <ToolTip>替换为您要从数据源检索的第一个字段。</ToolTip>
          <Default>ToUpper()</Default>
        </Literal>
        <Literal>
          <ID>field2</ID>
          <Type>String</Type>
          <ToolTip>替换为您要从数据源检索的第二个字段。</ToolTip>
          <Default>Length</Default>
        </Literal>
      </Declarations>
      <Code Language="VB" Kind="method body"><![CDATA[Dim $queryResult$ = From $item$ In $dataSource$ _
                    Select $item$.$field1$, $item$.$field2$ _
                    Order By $field1$]]></Code>
    </Snippet>
  </CodeSnippet>
</CodeSnippets>
