{% extends "base.html" %}
{% load static %}

{% block title %}
操作中心-巡检&故障演练
{% endblock %}

{% block content %}
<div class="main-content d-flex flex-column min-vh-100">
  <div class="table-responsive">
    <h2>实例列表</h2>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
              <th scope="col">数据库类型</th>
              <th scope="col">实例名</th>
              <th scope="col">实例状态</th>
              <th scope="col">实例类型</th>
              <th scope="col">版本</th>
              <th scope="col">是否多可以区</th>
              <th scope="col">高可用方式</th>
              <th scope="col">最新备份时间</th>
              <th scope="col">操作</th>
              <thead>
            <tr>
        </thead>
        <tbody>
            <tr>
              <td>RDS MySQL</td>
              <td>cn1rds001</td>
              <td>available</td>
              <td>db.r6g.xlarge</td>
              <td>MySQL 8.0.36</td>
              <td>Y</td>
              <td>多可用区</td>
              <td>2025-04-15 08:35</td>
              <td class="el-table_2_column_20 is-hidden" rowspan="1" colspan="1">
                <button class="el-button el-button--primary el-button-mini" type="button">
                  <span>导出</span>
                </button>
                <button class="el-button el-button--primary el-button-mini" type="button">
                    <span>故障演练方案</span>
                  </button>
              </td>
            </tr>
            <tr>
                <td>Cassandra</td>
                <td>cn1cas03-05</td>
                <td>running</td>
                <td>m5.xlarge</td>
                <td>Cassandra 3.0.35</td>
                <td>Y</td>
                <td>集群</td>
                <td>2025-04-15 08:35</td>
                <td class="el-table_2_column_20 is-hidden" rowspan="1" colspan="1">
                  <button class="el-button el-button--primary el-button-mini" type="button">
                    <span>导出</span>
                  </button>
                  <button class="el-button el-button--primary el-button-mini" type="button">
                      <span>故障演练方案</span>
                    </button>
                </td>
              </tr>
        </tbody>
    </table>
  </div>
</div>
{% endblock %}