<?xml version="1.0"?>
<CodeSnippets xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <CodeSnippet Format="1.0.0">
    <Header>
      <Title>聚合成 Average()</Title>
      <Author>Microsoft Corporation</Author>
      <Description>使用聚合计算水果名的平均字符数。</Description>
      <Shortcut>qAggregateAvg</Shortcut>
    </Header>
    <Snippet>
      <Declarations>
        <Literal>
          <ID>queryResult</ID>
          <Type>item</Type>
          <ToolTip>替换为查询的标识符。</ToolTip>
          <Default>query</Default>
        </Literal>
        <Literal>
          <ID>item</ID>
          <Type>item</Type>
          <ToolTip>替换为表示数据源项的变量的标识符。</ToolTip>
          <Default>fruit</Default>
        </Literal>
        <Literal>
          <ID>dataSource</ID>
          <Type>String</Type>
          <ToolTip>替换为数据源的标识符。</ToolTip>
          <Default>New String() {"apple", "orange", "pear", "banana"}</Default>
        </Literal>
        <Literal>
          <ID>field</ID>
          <Type>String</Type>
          <ToolTip>替换为用于聚合的字段名称。</ToolTip>
          <Default>Length</Default>
       </Literal>
        <Literal>
          <ID>groupingCondition</ID>
          <Type>String</Type>
          <ToolTip>替换为对您的组调用的聚合函数。</ToolTip>
          <Default>Average</Default>
        </Literal>
      </Declarations>
      <Code Language="VB" Kind="method body"><![CDATA[Dim $queryResult$ = Aggregate $item$ In $dataSource$ _
                         Into $groupingCondition$($item$.$field$)]]></Code>
    </Snippet>
  </CodeSnippet>
</CodeSnippets>
