<?xml version="1.0" encoding="UTF-8"?>
<CodeSnippets xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <CodeSnippet Format="1.0.0">
    <Header>
      <Title>将类数据写入 XML 文件</Title>
      <Author>Microsoft Corporation</Author>
      <Description>使用 XmlSerializer 类将数据从类写入 XML 文件。</Description>
      <Keywords>
      </Keywords>
      <Shortcut>xmlWriteClass</Shortcut>
    </Header>
    <Snippet>
      <References>
        <Reference>
          <Assembly>System.Xml.dll</Assembly>
          <Version/>
          <Url/>
        </Reference>
      </References>
      <Imports>
	    <Import>
			<Namespace>System.XML.Serialization</Namespace>
		</Import>
	    <Import>
			<Namespace>System.IO</Namespace>
		</Import>
      </Imports>
      <Declarations>
        <Literal>
          <ID>class</ID>
          <Type/>
          <ToolTip>替换为要序列化的类的类型名称。</ToolTip>
          <Default>ArrayList</Default>
        </Literal>
        <Literal>
          <ID>filename</ID>
          <Type/>
          <ToolTip>替换为要将数据写入其中的文件的名称。</ToolTip>
          <Default>"SerializedData.xml"</Default>
        </Literal>
        <Literal>
          <ID>dataInstance</ID>
          <Type/>
          <ToolTip>替换为包含数据的类的实例。</ToolTip>
          <Default>dataToWrite</Default>
        </Literal>
      </Declarations>
      <Code Language="VB" Kind="method decl"><![CDATA[Dim writer As New XMLSerializer(GetType($Class$))
Dim file As New StreamWriter($filename$)
writer.Serialize(file, $dataInstance$)
file.Close()]]></Code>
    </Snippet>
  </CodeSnippet>
</CodeSnippets>
