<?xml version="1.0"?>
<CodeSnippets xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <CodeSnippet Format="1.0.0">
    <Header>
      <Title>按未选择字段筛选</Title>
      <Author>Microsoft Corporation</Author>
      <Description>创建按未选择字段对结果筛选的查询。</Description>
      <Shortcut>qFiltDiff</Shortcut>
    </Header>
    <Snippet>
      <Declarations>
        <Literal>
          <ID>queryResult</ID>
          <Type>item</Type>
          <ToolTip>替换为查询的标识符。</ToolTip>
          <Default>query</Default>
        </Literal>
        <Literal>
          <ID>item</ID>
          <Type>item</Type>
          <ToolTip>替换为表示数据源项的变量的标识符。</ToolTip>
          <Default>fruit</Default>
        </Literal>
        <Literal>
          <ID>dataSource</ID>
          <Type>String</Type>
          <ToolTip>替换为数据源的标识符。</ToolTip>
          <Default>New String() {"apple", "orange", "pear", "banana"}</Default>
        </Literal>
        <Literal>
          <ID>whereField1</ID>
          <Type>String</Type>
          <ToolTip>替换为作为筛选依据的第一个字段名称。</ToolTip>
          <Default>Length</Default>
        </Literal>
                <Literal>
          <ID>whereField2</ID>
          <Type>String</Type>
          <ToolTip>替换为作为筛选依据的第二个字段名称。</ToolTip>
          <Default>ToUpper()</Default>
        </Literal>
        <Literal>
          <ID>condition1</ID>
          <Type>String</Type>
          <ToolTip>替换为第一个筛选条件。</ToolTip>
          <Default>&gt;= 5</Default>
        </Literal>
        <Literal>
          <ID>selectedField</ID>
          <Type>String</Type>
          <ToolTip>替换为返回的字段名称。</ToolTip>
          <Default>ToLower()</Default>
        </Literal>
        <Literal>
          <ID>condition2</ID>
          <Type>String</Type>
          <ToolTip>替换为第二个筛选条件。</ToolTip>
          <Default>= "PEAR"</Default>
        </Literal>
      </Declarations>
      <Code Language="VB" Kind="method body"><![CDATA[Dim $queryResult$ = From $item$ In $dataSource$ _
                    Where $item$.$whereField1$ $condition1$ And $item$.$whereField2$ $condition2$ _
                    Select $item$.$selectedField$]]></Code>
    </Snippet>
  </CodeSnippet>
</CodeSnippets>
