<?xml version="1.0"?>
<CodeSnippets xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <CodeSnippet Format="1.0.0">
    <Header>
      <Title>非重复的结果</Title>
      <Author>Microsoft Corporation</Author>
      <Description>创建返回非重复数据行的查询。</Description>
      <Shortcut>qQueryDist</Shortcut>
    </Header>
    <Snippet>
      <Declarations>
        <Literal>
          <ID>queryResult</ID>
          <Type>item</Type>
          <ToolTip>替换为查询的标识符。</ToolTip>
          <Default>query</Default>
        </Literal>
        <Literal>
          <ID>item</ID>
          <Type>item</Type>
          <ToolTip>替换为表示数据源项的变量的标识符。</ToolTip>
          <Default>fruit</Default>
        </Literal>
        <Literal>
          <ID>dataSource</ID>
          <Type>String</Type>
          <ToolTip>替换为数据源的标识符。</ToolTip>
          <Default>New String() {"apple", "orange", "pear", "banana", "apple"}</Default>
        </Literal>
        <Literal>
          <ID>field1</ID>
          <Type>String</Type>
          <ToolTip>替换为作为筛选依据的字段名称。</ToolTip>
          <Default>Length</Default>
        </Literal>
        <Literal>
          <ID>condition1</ID>
          <Type>String</Type>
          <ToolTip>替换为第一个筛选条件。</ToolTip>
          <Default>&gt; 5</Default>
        </Literal>
        <Literal>
          <ID>field2</ID>
          <Type>String</Type>
          <ToolTip>替换为返回的字段名称。</ToolTip>
          <Default>ToUpper()</Default>
        </Literal>
      </Declarations>
      <Code Language="VB" Kind="method body"><![CDATA[Dim $queryResult$ = From $item$ In $dataSource$ _
                    Where $item$.$field1$ $condition1$ _
                    Select $item$.$field2$ _
                    Distinct]]></Code>
    </Snippet>
  </CodeSnippet>
</CodeSnippets>
