<?xml version="1.0" encoding="utf-8"?>
<CodeSnippets xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <CodeSnippet Format="1.0.0">
    <Header>
      <Title>读取注册表值</Title>
      <Author>Microsoft Corporation</Author>
      <Description>从当前用户配置单元中读取字符串注册表值。</Description>
      <Shortcut>regRead</Shortcut>
    </Header>
    <Snippet>
      <Declarations>
        <Literal>
          <ID>DefaultValue</ID>
          <ToolTip>替换为默认值。</ToolTip>
          <Default>"Default Value"</Default>
        </Literal>
        <Literal>
          <ID>Path</ID>
          <Type>String</Type>
          <ToolTip>替换为注册表项的路径。</ToolTip>
          <Default>"HKEY_CURRENT_USER\Software\CompanyName\ProductName\KeyName"</Default>
        </Literal>
        <Literal>
          <ID>Value</ID>
          <Type>String</Type>
          <ToolTip>替换为要检索的值名称。</ToolTip>
          <Default>"valueName"</Default>
        </Literal>
      </Declarations>
      <Code Language="VB" Kind="method body"><![CDATA[Dim keyValue As Object
keyValue = My.Computer.Registry.GetValue($Path$, $Value$, $DefaultValue$)]]></Code>
    </Snippet>
  </CodeSnippet>
</CodeSnippets>
