<?xml version="1.0" encoding="utf-8"?>
<CodeSnippets xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <CodeSnippet Format="1.0.0">
    <Header>
      <Title>创建临时文件名</Title>
      <Author>Microsoft Corporation</Author>
      <Description>创建临时文件的名称。</Description>
      <Shortcut>filCreateTemp</Shortcut>
    </Header>
    <Snippet>
      <Imports>
        <Import>
          <Namespace>System</Namespace>
        </Import>
        <Import>
          <Namespace>Microsoft.VisualBasic</Namespace>
        </Import>
      </Imports>
      <Code Language="VB" Kind="method body"><![CDATA[Dim fileName As String 
fileName = My.Computer.FileSystem.GetTempFileName()]]></Code>
    </Snippet>
  </CodeSnippet>
</CodeSnippets>
