<?xml version="1.0" encoding="utf-8"?>
<CodeSnippets xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <CodeSnippet Format="1.0.0">
    <Header>
      <Title>循环访问字典。</Title>
      <Author>Microsoft Corporation</Author>
      <Description>循环访问字典中的所有项。</Description>
      <Shortcut>colIterDict</Shortcut>
    </Header>
    <Snippet>
      <Imports>
        <Import>
          <Namespace>Microsoft.VisualBasic</Namespace>
        </Import>
      </Imports>
      <Declarations>
        <Literal>
          <ID>itemVar</ID>
          <ToolTip>替换为集合中的项的标识符。</ToolTip>
          <Default>capitol</Default>
        </Literal>
        <Literal>
          <ID>itemType</ID>
          <ToolTip>替换为集合中的项的类型。</ToolTip>
          <Default>String</Default>
        </Literal>
        <Object>
          <ID>dicVar</ID>
          <Type>IDictionary(Of TKey, TValue)</Type>
          <ToolTip>替换为要循环访问的字典变量。</ToolTip>
          <Default>stateCaps</Default>
        </Object>
      </Declarations>
      <Code Language="VB" Kind="method body"><![CDATA[        ' Iterate through a dictionary
        For Each $itemVar$ As $itemType$ In $dicVar$.Values

        Next
]]></Code>
    </Snippet>
  </CodeSnippet>
</CodeSnippets>
