<?xml version="1.0" encoding="utf-8"?>
<CodeSnippets xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <CodeSnippet Format="1.0.0">
    <Header>
      <Title>调用 SqlCommand 的 ExecuteScalar 方法</Title>
      <Author>Microsoft Corporation</Author>
      <Description>执行一条 SQL 语句，该语句使用现有数据命令的 SqlCommand.ExecuteScalar 方法返回单个值。</Description>
      <Shortcut>adoExecScalar</Shortcut>
    </Header>
    <Snippet>
      <References>
        <Reference>
          <Assembly>System.Data.dll</Assembly>
        </Reference>
        <Reference>
          <Assembly>System.Xml.dll</Assembly>
        </Reference>
      </References>
      <Imports>
        <Import>
          <Namespace>System.Data</Namespace>
        </Import>
        <Import>
          <Namespace>System.Data.SqlClient</Namespace>
        </Import>
      </Imports>
      <Declarations>
        <Object>
          <ID>conn</ID>
          <Type>System.Data.SqlClient.SqlConnection</Type>
          <ToolTip>替换为现有的连接对象。</ToolTip>
          <Default>conn</Default>
        </Object>
        <Object>
          <ID>cmd</ID>
          <Type>System.Data.SqlClient.SqlCommand</Type>
          <ToolTip>要执行的现有 SqlCommand 的名称</ToolTip>
          <Default>cmd</Default>
        </Object>
      </Declarations>
      <Code Language="VB" Kind="method body"><![CDATA[Dim result As Object
Dim previousConnectionState As ConnectionState = $conn$.State
Try
	If $conn$.State = ConnectionState.Closed Then
		$conn$.Open()
	End If
	result = $cmd$.ExecuteScalar()
Finally
    If previousConnectionState = ConnectionState.Closed Then
        $conn$.Close()
    End If
End Try
]]></Code>
    </Snippet>
  </CodeSnippet>
</CodeSnippets>
