<?xml version="1.0" encoding="utf-8"?>
<CodeSnippets xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <CodeSnippet Format="1.0.0">
    <Header>
      <Title>创建表达式列</Title>
      <Author>Microsoft Corporation</Author>
      <Description>创建 DataColumn 对象并设置 DataColumn.Expression 属性，以计算总订货量。</Description>
      <Shortcut>adoAddExpression</Shortcut>
    </Header>
    <Snippet>
      <References>
        <Reference>
          <Assembly>System.Data.dll</Assembly>
        </Reference>
        <Reference>
          <Assembly>System.Xml.dll</Assembly>
        </Reference>
      </References>
      <Imports>
        <Import>
          <Namespace>System.Data</Namespace>
        </Import>
      </Imports>
      <Declarations>
        <Literal>
          <ID>ColumnName</ID>
          <Type>String</Type>
          <ToolTip>替换为列名称。</ToolTip>
          <Default>OrderTotal</Default>
        </Literal>
        <Literal>
          <ID>Expression</ID>
          <Type>String</Type>
          <ToolTip>替换为计算结果是列类型的表达式。</ToolTip>
          <Default>UnitPrice * Quantity</Default>
        </Literal>
        <Object>
          <ID>DataSet</ID>
          <Type>System.Data.DataSet</Type>
          <ToolTip>替换为数据集对象。</ToolTip>
          <Default>ds</Default>
        </Object>
        <Object>
          <ID>ExpressionColumn</ID>
          <Type>System.Data.DataColumn</Type>
          <ToolTip>要添加到 DataTable 的新表达式列</ToolTip>
          <Default>orderTotalColumn</Default>
        </Object>
        <Object>
          <ID>DataTable</ID>
          <Type>System.Data.DataTable</Type>
          <ToolTip>要添加表达式列的 DataTable</ToolTip>
          <Default>Order_Details</Default>
        </Object>
        <Object>
          <ID>ColumnDataType</ID>
          <ToolTip>替换为数据类型。</ToolTip>
          <Default>Double</Default>
        </Object>
      </Declarations>
      <Code Language="VB" Kind="method decl"><![CDATA[Dim $ExpressionColumn$ As New DataColumn()
$ExpressionColumn$.ColumnName = "$ColumnName$"
$ExpressionColumn$.DataType = GetType($ColumnDataType$)
$ExpressionColumn$.Expression = "$Expression$"
$DataSet$.$DataTable$.Columns.Add($ExpressionColumn$)
]]></Code>
    </Snippet>
  </CodeSnippet>
</CodeSnippets>
