<?xml version="1.0" encoding="utf-8"?>
<CodeSnippets xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <CodeSnippet Format="1.0.0">
    <Header>
      <Title>创建参数化 SELECT 命令</Title>
      <Author>Microsoft Corporation</Author>
      <Description>构造一个命令对象，用于执行带参数的 Select 语句。</Description>
      <Shortcut>adoSelectwParams</Shortcut>
    </Header>
    <Snippet>
      <References>
        <Reference>
          <Assembly>System.Data.dll</Assembly>
        </Reference>
        <Reference>
          <Assembly>System.Xml.dll</Assembly>
        </Reference>
      </References>
      <Imports>
        <Import>
          <Namespace>System.Data.SqlClient</Namespace>
        </Import>
        <Import>
          <Namespace>System.Data</Namespace>
        </Import>
      </Imports>
      <Declarations>
        <Literal>
          <ID>SQL</ID>
          <Type>String</Type>
          <ToolTip>替换为 SQL 语句。</ToolTip>
          <Default>SELECT CustomerID, CompanyName FROM Customers WHERE CompanyName LIKE @companyName</Default>
        </Literal>
        <Object>
          <ID>parameter1</ID>
          <Type>SqlParameter</Type>
          <ToolTip>替换为代码中引用的参数的名称。</ToolTip>
          <Default>companyNameParam</Default>
        </Object>
        <Literal>
          <ID>sqlParameterName</ID>
          <Type>String</Type>
          <ToolTip>替换为查询中的 SQL 参数。</ToolTip>
          <Default>@companyName</Default>
        </Literal>
        <Literal>
          <ID>parameterValue</ID>
          <Type>String</Type>
          <ToolTip>替换为参数的值。</ToolTip>
          <Default>"a%"</Default>
        </Literal>
        <Object>
          <ID>conn</ID>
          <Type>SqlConnection</Type>
          <ToolTip>替换为连接对象。</ToolTip>
          <Default>conn</Default>
        </Object>
        <Object>
          <ID>cmd</ID>
          <Type>SqlCommand</Type>
          <ToolTip>替换为 SqlCommand 的对象名称。</ToolTip>
          <Default>cmd</Default>
        </Object>
      </Declarations>
      <Code Language="VB" Kind="method body"><![CDATA[Dim $cmd$ As New SqlCommand
$cmd$.CommandType = CommandType.Text
$cmd$.CommandText = "$SQL$"
$cmd$.Connection = $conn$
' Create a SqlParameter for each parameter in the stored procedure.
Dim $parameter1$ As New SqlParameter("$sqlParameterName$", $parameterValue$)
$cmd$.Parameters.Add($parameter1$)
]]></Code>
    </Snippet>
  </CodeSnippet>
</CodeSnippets>
