<?xml version="1.0" encoding="UTF-8"?>
<CodeSnippets xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <CodeSnippet Format="1.0.0">
    <Header>
      <Title>定义 Sub</Title>
      <Author>Microsoft Corporation</Author>
      <Description>使用 Sub 关键字定义不返回值的过程。</Description>
      <Keywords>
      </Keywords>
      <Shortcut>Sub</Shortcut>
    </Header>
    <Snippet>
      <Declarations>
        <Literal>
          <ID>SubName</ID>
          <Type></Type>
          <ToolTip>替换为 Sub 名称。</ToolTip>
          <Default>MySub</Default>
        </Literal>
      </Declarations>      
      <Code Language="VB" Kind="method decl"><![CDATA[Sub $SubName$()

End Sub]]></Code>
    </Snippet>
  </CodeSnippet>
</CodeSnippets>
