<?xml version="1.0" encoding="utf-8"?>
<CodeSnippets xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <CodeSnippet Format="1.0.0">
    <Header>
      <Title>在 Windows 窗体 MonthCalendar 中选择日期范围</Title>
      <Author>Microsoft Corporation</Author>
      <Description>在 MonthCalendar 控件中选择日期范围。</Description>
      <Shortcut>calRange</Shortcut>
    </Header>
    <Snippet>
		<References>
			<Reference>
				<Assembly>System.Windows.Forms.dll</Assembly>
			</Reference>
		</References>
		<Imports>
			<Import>
				<Namespace>System</Namespace>
			</Import>
			<Import>
				<Namespace>Microsoft.VisualBasic</Namespace>
			</Import>
		</Imports>
      <Declarations>
        <Object>
          <ID>calendar</ID>
          <Type>MonthCalendar</Type>
          <ToolTip>替换为窗体中的 MonthCalendar。</ToolTip>
          <Default>MonthCalendar1</Default>
        </Object>
        <Object>
          <ID>startDate</ID>
          <Type>Date</Type>
          <ToolTip>替换为选择范围的开始日期。</ToolTip>
          <Default>#3/1/2005#</Default>
        </Object>
        <Object>
          <ID>endDate</ID>
          <Type>Date</Type>
          <ToolTip>替换为选择范围的结束日期。</ToolTip>
          <Default>#3/21/2005#</Default>
        </Object>
      </Declarations>
      <Code Language="VB" Kind="method body"><![CDATA[$calendar$.SetSelectionRange($startDate$, $endDate$)]]></Code>
    </Snippet>
  </CodeSnippet>
</CodeSnippets>
