<?xml version="1.0" encoding="UTF-8"?>
<CodeSnippets xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <CodeSnippet Format="1.0.0">
    <Header>
      <Title>从 XML 文件读取类数据</Title>
      <Author>Microsoft Corporation</Author>
      <Description>使用 XmlSerializer 类读取以前写入 XML 文件的类数据。</Description>
      <Keywords>
      </Keywords>
      <Shortcut>xmlReadClass</Shortcut>
    </Header>
    <Snippet>
      <References>
        <Reference>
          <Assembly>System.Xml.dll</Assembly>
          <Version/>
          <Url/>
        </Reference>
      </References>
      <Imports>
	<Import>
	  <Namespace>System.Xml.Serialization</Namespace>
	</Import>
	<Import>
	  <Namespace>System.IO</Namespace>
	</Import>
      </Imports>
      <Declarations>
        <Literal>
          <ID>classType</ID>
          <Type/>
          <ToolTip>替换为要反序列化的类的名称。</ToolTip>
          <Default>TheClass</Default>
        </Literal>
        <Literal>
          <ID>filename</ID>
          <Type>String</Type>
          <ToolTip>替换为包含序列化数据的文件的名称。</ToolTip>
          <Default>"ClassData.xml"</Default>
        </Literal>
      </Declarations>
      <Code Language="VB" Kind="method body"><![CDATA[Dim reader = New XmlSerializer(GetType($ClassType$))
        Dim file = New StreamReader($filename$)
        Dim fileData = CType(reader.Deserialize(file), $ClassType$)]]></Code>
    </Snippet>
  </CodeSnippet>
</CodeSnippets>
