<?xml version="1.0"?>
<CodeSnippets xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <CodeSnippet Format="1.0.0">
    <Header>
      <Title>在控制台窗口显示结果</Title>
      <Author>Microsoft Corporation</Author>
      <Description>在控制台窗口显示查询结果。</Description>
      <Shortcut>qConsole</Shortcut>
    </Header>
    <Snippet>
       <Declarations>
        <Literal>
          <ID>queryResult</ID>
          <Type>item</Type>
          <ToolTip>替换为查询的标识符。</ToolTip>
          <Default>query</Default>
        </Literal>
        <Literal>
          <ID>item</ID>
          <Type>item</Type>
          <ToolTip>替换为表示数据源项的变量的标识符。</ToolTip>
          <Default>process</Default>
        </Literal>
        <Literal>
          <ID>dataSource</ID>
          <Type>String</Type>
          <ToolTip>替换为数据源的标识符。</ToolTip>
          <Default>System.Diagnostics.Process.GetProcesses()</Default>
        </Literal>
                 <Literal>
          <ID>field1</ID>
          <Type>String</Type>
          <ToolTip>替换为您要从数据源检索的第一个字段的标识符。</ToolTip>
          <Default>ProcessName</Default>
        </Literal>
        <Literal>
          <ID>field2</ID>
          <Type>String</Type>
          <ToolTip>替换为您要从数据源检索的第二个字段的标识符。</ToolTip>
          <Default>MainWindowTitle</Default>
        </Literal>
        <Literal>
          <ID>alias</ID>
          <Type>String</Type>
          <ToolTip>替换为您要赋予此数据的别名。</ToolTip>
          <Default>WindowTitle</Default>
        </Literal>
        <Literal>
          <ID>iterationVar</ID>
          <Type>String</Type>
          <ToolTip>替换为表示查询项的迭代变量的标识符。</ToolTip>
          <Default>process</Default>
        </Literal>
      </Declarations>
      <Code Language="VB" Kind="method body"><![CDATA[Dim $queryResult$ = From $item$ In $dataSource$ _
                    Select $item$.$field1$, $alias$ = $item$.$field2$ _
                    Order By $field1$

                 For Each $iterationVar$ In $queryResult$
                     Console.WriteLine($iterationVar$.$field1$ & " " & $iterationVar$.$alias$)
                 Next]]></Code>
    </Snippet>
  </CodeSnippet>
</CodeSnippets>
