<?xml version="1.0"?>
<CodeSnippets xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <CodeSnippet Format="1.0.0">
    <Header>
      <Title>使用 For Each 语句循环访问查询结果</Title>
      <Author>Microsoft Corporation</Author>
      <Description>演示如何循环访问查询结果的 For...Each 语句。</Description>
      <Shortcut>qLoop</Shortcut>
    </Header>
    <Snippet>
      <Declarations>
        <Literal>
          <ID>queryResult</ID>
          <Type>item</Type>
          <ToolTip>替换为查询的标识符。</ToolTip>
          <Default>query</Default>
        </Literal>
        <Literal>
          <ID>item</ID>
          <Type>item</Type>
          <ToolTip>替换为表示数据源项的范围变量的标识符。</ToolTip>
          <Default>score</Default>
        </Literal>
        <Literal>
          <ID>iterationVar</ID>
          <Type>String</Type>
          <ToolTip>替换为用于循环访问查询的迭代变量的标识符。</ToolTip>
          <Default>higherScore</Default>
        </Literal>
        <Literal>
          <ID>dataSource</ID>
          <Type>String</Type>
          <ToolTip>替换为数据源的标识符。</ToolTip>
          <Default>scores</Default>
        </Literal>
        <Literal>
          <ID>dataSourceType</ID>
          <Type>String</Type>
          <ToolTip>替换为数据源的类型。</ToolTip>
          <Default>Integer</Default>
        </Literal>
      </Declarations>
      <Code Language="VB" Kind="method body"><![CDATA[Dim $dataSource$() As $dataSourceType$ = {50, 42, 76, 93, 65, 51, 79, 97, _
                                   44, 65, 70, 83, 81, 52}

        Dim $queryResult$ = From $item$ In $dataSource$ _
                     Where $item$ > (From avgScore In $dataSource$).Average _
                     Order By $item$ _
                     Select $item$

        For Each $iterationVar$ In $queryResult$
            Console.WriteLine("The following score was above average: " & $iterationVar$)
        Next]]></Code>
    </Snippet>
  </CodeSnippet>
</CodeSnippets>
