<?xml version="1.0" encoding="utf-8"?>
<CodeSnippets xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <CodeSnippet Format="1.0.0">
    <Header>
      <Title>继续运行 Windows 服务 </Title>
      <Author>Microsoft Corporation</Author>
      <Description>使用 ServiceController 组件继续运行已暂停的服务。</Description>
      <Shortcut>servCont</Shortcut>
    </Header>
    <Snippet>
      <References>
        <Reference>
          <Assembly>System.ServiceProcess.dll</Assembly>
        </Reference>
      </References>
      <Imports>
        <Import>
          <Namespace>System</Namespace>
        </Import>
        <Import>
          <Namespace>Microsoft.VisualBasic</Namespace>
        </Import>
        <Import>
          <Namespace>System.ServiceProcess</Namespace>
        </Import>
      </Imports>
      <Declarations>
        <Literal>
          <ID>serviceName</ID>
          <ToolTip>替换为需要继续运行的服务的名称。</ToolTip>
          <Default>"IISAdmin"</Default>
        </Literal>
      </Declarations>
      <Code Language="VB" Kind="method body"><![CDATA[Dim controller As New ServiceController($serviceName$)
If controller.Status = ServiceControllerStatus.Paused Then
    controller.Continue()
End If]]></Code>
    </Snippet>
  </CodeSnippet>
</CodeSnippets>
