<?xml version="1.0" encoding="UTF-8"?>
<CodeSnippets xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <CodeSnippet Format="1.0.0">
    <Header>
      <Title>在平假名与片假名字符之间进行转换(仅限日语)</Title>
      <Author>Microsoft Corporation</Author>
      <Description>在字符串中的平假名与片假名字符之间进行转换。</Description>
      <Shortcut>typeHiragana</Shortcut>
    </Header>
    <Snippet>
      <Imports>
        <Import>
          <Namespace>Microsoft.VisualBasic</Namespace>
        </Import>
      </Imports>
      <Declarations>
        <Literal>
          <ID>Katakana</ID>
          <Type/>
          <ToolTip>替换为片假名字符串。</ToolTip>
          <Default>"Katakana String"</Default>
          <Function/>
        </Literal>
        <Literal>
          <ID>Hiragana</ID>
          <Type/>
          <ToolTip>替换为平假名字符串。</ToolTip>
          <Default>"Hiragana String"</Default>
          <Function/>
        </Literal>
      </Declarations>
      <Code Language="VB" Kind="method body"><![CDATA[' Convert Katakana to Hiragana (Japanese Only).
Dim hString As String = StrConv($Katakana$, _
    VbStrConv.Hiragana)
' Convert Hiragana to Katakana (Japanese Only).
Dim kString As String = StrConv($Hiragana$, _
    VbStrConv.Katakana)]]></Code>
    </Snippet>
  </CodeSnippet>
</CodeSnippets>
