<?xml version="1.0" encoding="UTF-8"?>
<CodeSnippets xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <CodeSnippet Format="1.0.0">
    <Header>
      <Title>在简体中文与繁体中文字符之间进行转换</Title>
      <Author>Microsoft Corporation</Author>
      <Description>在字符串中的简体中文与繁体中文字符之间进行转换。</Description>
      <Shortcut>typeSimpleTrad</Shortcut>
    </Header>
    <Snippet>
      <Imports>
        <Import>
          <Namespace>Microsoft.VisualBasic</Namespace>
        </Import>
      </Imports>
      <Declarations>
        <Literal>
          <ID>Simplified</ID>
          <Type/>
          <ToolTip>替换为简体中文字符串。</ToolTip>
          <Default>"Simplified Chinese String"</Default>
          <Function/>
        </Literal>
        <Literal>
          <ID>Traditional</ID>
          <Type/>
          <ToolTip>替换为繁体中文字符串。</ToolTip>
          <Default>"Traditional Chinese String"</Default>
          <Function/>
        </Literal>
      </Declarations>
      <Code Language="VB" Kind="method body"><![CDATA[' Convert Simplified Chinese to Traditional Chinese.
 	Dim tString As String = StrConv($Simplified$, _
    VbStrConv.TraditionalChinese)
' Convert Traditional Chinese to Simplified Chinese.
	Dim sString As String = StrConv($Traditional$, _
    VbStrConv.SimplifiedChinese)]]></Code>
    </Snippet>
  </CodeSnippet>
</CodeSnippets>
