<?xml version="1.0"?>
<CodeSnippets xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <CodeSnippet Format="1.0.0">
    <Header>
      <Title>Take</Title>
      <Author>Microsoft Corporation</Author>
      <Description>获取排序结果集的前 n 个元素的查询。</Description>
      <Shortcut>qTake</Shortcut>
    </Header>
    <Snippet>
      <Declarations>
        <Literal>
          <ID>queryResult</ID>
          <Type>item</Type>
          <ToolTip>替换为查询的标识符。</ToolTip>
          <Default>query</Default>
        </Literal>
        <Literal>
          <ID>item</ID>
          <Type>item</Type>
          <ToolTip>替换为表示数据源项的变量的标识符。</ToolTip>
          <Default>fruit</Default>
        </Literal>
        <Literal>
          <ID>dataSource</ID>
          <Type>String</Type>
          <ToolTip>替换为数据源的标识符。</ToolTip>
          <Default>New String() {"apple", "orange", "pear", "banana", "strawberry", "blueberry"}</Default>
        </Literal>
        <Literal>
          <ID>orderField</ID>
          <Type>String</Type>
          <ToolTip>替换为依据其对查询排序的字段。</ToolTip>
          <Default>ToUpper()</Default>
        </Literal>
        <Literal>
          <ID>orderDirection</ID>
          <Type>String</Type>
          <ToolTip>替换为字段排序的方向(升序/降序)。</ToolTip>
          <Default>Descending</Default>
        </Literal>
        <Literal>
          <ID>takeCount</ID>
          <Type>Integer</Type>
          <ToolTip>替换为表示要获取的元素数的整数。</ToolTip>
          <Default>3</Default>
        </Literal>
      </Declarations>
      <Code Language="VB" Kind="method body"><![CDATA[Dim $queryResult$ = From $item$ In $dataSource$ _
                    Order By $item$.$orderField$ $orderDirection$ _
                    Take $takeCount$]]></Code>
    </Snippet>
  </CodeSnippet>
</CodeSnippets>
